body {
  background-image: url("./assets/images/widenature.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  background-attachment: fixed;

  padding: 15px;
}

p,h1 {
  background-color: rgba(176, 208, 233, 0.75);
  font-size: 24px;
  padding: .75em;
  border-radius: 1em;
}


