/* *{border: 1px solid red;} */
@media screen and (min-width: 640px) {
  .content-container {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

:root { background-attachment: fixed; }

body {
  position: relative;
  
  background-color: black;
  text-decoration: none;
  color: black;
  font-family: Garamond, Helvetica, sans-serif;
}

/* Regular background for larger screens */
body::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("./assets/images/sunset-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
}

/* Apply blur when the screen is narrow */
@media only screen and (max-width: 768px) {
  body::before {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
  }
}

.social-media-logo {
  height: 1.5rem;
  vertical-align: middle;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.card {
  background-color: rgba(250, 250, 250, 0.65);
  position: relative;
  padding: 1rem;
  backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
}

.project-card {
  display: flex; 
  padding: 0rem;
  flex: 1;
  background-color: rgba(0,0,0,0.09);
  align-content: center;
  justify-content: center;
}

.project-card >*> img {
  width: 8rem; /* or any other fixed size */
  object-fit: fill; 
}

.img-container {
border-radius: 16px;

backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
  padding: .5rem;
  background-color: rgba(224, 103, 55, 0);
  
  border-radius: .5rem 0 0 .5rem;
  display: flex;
  align-items: center;
}

.project-info{
  background-color: rgba(250, 250, 250, 0.65);
  border-radius: 0 .5rem .5rem 0;
}


.nav-container {
  padding: 1rem;
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
}

.card, nav ul {
  
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(1, 1, 0, 0.2);
}

#copyright-notice {
  font-size: small;
  color: white;
}


.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 15px;
}


.skill {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill img {
  height: 4rem;
  margin-bottom: 10px;
}

body {
  background-image: url("./assets/images/sunset-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  background-attachment: fixed;
  text-decoration: none;
  color: black;
  font-family: Garamond, Helvetica, sans-serif;
}

.header-card,
.about-card,
.project-card,
.skill-category,
.contact-card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  
}

.in-view {
  opacity: 1;
  animation: fadeIn 0.4s ease-in-out;
}

#profile-picture {
  height: 3rem;
  border-radius: 50%;
  border: 3px solid black;
}

html {
  scroll-behavior: smooth;
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotated-wiggle {
  0% {
    transform: rotate(50deg);
  }
  10% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(49deg);
  }
  30% {
    transform: rotate(41deg);
  }
  40% {
    transform: rotate(48deg);
  }
  50% {
    transform: rotate(42deg);
  }
  60% {
    transform: rotate(47deg);
  }
  70% {
    transform: rotate(43deg);
  }
  80% {
    transform: rotate(46deg);
  }
  90% {
    transform: rotate(44deg);
  }
  100% {
    transform: rotate(45deg);
  }
}


.project-card:hover {
  background-color: background-color: rgba(255, 255, 255, 1);
}

.skill img:hover , .link-to-project img:hover, #card-expansion-icon:hover {
  animation: wiggle 1s ease-in-out;
}

#card-expansion-icon.opened:hover {
  animation: rotated-wiggle 1s ease-in-out;
}

.social-media-link:hover img {
  animation: wiggle 1s ease-in-out;
}


#card-expansion-icon, .link-to-project > img{
  height: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: transform .33s ease-in-out;
}

#card-expansion-icon.opened {
  transform: rotate(45deg);
}

.contact-card form {
  display: grid; 
  grid-gap: 10px;
}

.contact-card label {
  display: block; 
  margin-bottom: 5px; 
  color: #555; 
}

/* Style the input fields */
.contact-card input[type="text"],
.contact-card input[type="email"],
.contact-card textarea {
  width: 100%; /* Full width */
  padding: 8px; /* Padding inside the inputs */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Slightly rounded borders for inputs */
  box-sizing: border-box; /* Border box sizing */
}

/* Style the submit button */
.contact-card button[type="submit"] {
  background-image: linear-gradient(180deg, #D67458, #8E4641);
  box-shadow: 1px 1px 3px  rgba(0,0,0,.3); 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}



.contact-card button[type="submit"]:active {
  box-shadow: inset 1px 1px 3px  rgba(0,0,0,.3); 
 }

/* General Navigation Style */
nav ul {
  list-style-type: none;
  padding: ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(90deg, #4E4266, #57364B); 
  border-radius: 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.4s;
}

#about-link:hover {
  background-color: rgb(53,61,110);
}
#projects-link:hover {
  background-color: rgb(48,41,73);
}
#contact-link:hover {
  background-color: rgb(68,45,67);
}
.project-info {
  padding: 1rem;
}

.additional-content {
  display: none;
}

.show {
  display: block;
}

#about {
  position:relative;
}

@media screen and (max-width: 400px){
  .project-card{ flex-direction: column;}
  .img-container{
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: .5rem 0.5rem 0 0;
  }
}



