@media screen and (min-width: 640px) {
  .content-container {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

body {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-family: Garamond, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: white;
}



.nav-container {
  padding: 1rem;
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
}

nav ul {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}



.skill img:hover,
.link-to-project img:hover,
#card-expansion-icon:hover {
  animation: wiggle 1s ease-in-out;
}

#card-expansion-icon.opened:hover {
  animation: rotated-wiggle 1s ease-in-out;
}



.link-to-project>img {
  height: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: transform .33s ease-in-out;
  border-radius: 0%;
}


nav ul {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}

body {
  transition: background-color 0.5s ease-in-out;
}

.card {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0;
  box-shadow: none;
  margin-bottom: 2rem;
}

.card.in-view {
  opacity: 1;
  box-shadow:
    4px 4px 15px rgba(0, 0, 0, 0.35),
    -4px -4px 15px rgba(255, 255, 255, 0.30);
  transition: box-shadow 0.33s ease-in-out .5s, opacity 0.33s ease-in-out;
}

.card.in-view * {
  opacity: 1;
  transition: box-shadow 0.33s ease-in-out .5s, opacity 0.33s ease-in-out;
}

.card.out-view {
  opacity: 0;
  box-shadow: none;
  transition: box-shadow 0.33s ease-in-out, opacity 0.33s ease-in-out .5s;
}

.card.out-view * {
  opacity: 0;
  box-shadow: none;
  transition: box-shadow 0.33s ease-in-out, opacity 0.33s ease-in-out .5s;
}

.project-info {
  padding: 1rem;
}






@media screen and (max-width: 400px) {
  .project-card {
    flex-direction: column;
  }

  .img-container {
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: .5rem 0.5rem 0 0;
  }
}

#jobtitle {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#name-and-headshot {
  display: flex;
  margin-bottom: .5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#name {
  margin: .5rem;
}